/* Estilos base */
p {
	font-size: 24px;
	margin: 0;
	padding: 0;
	line-height: 1.4;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/* Linhas */
.linhaNormal,
.linhaDestaqueUnico,
.linhaDestaqueSequencia,
.linhaCursor,
.linhaLabel,
.linhaBullet,
.linhaLoading {
	font-size: 24px;
	margin-bottom: 5px;
	word-wrap: break-word;
	overflow-wrap: break-word;
}

/* Específicos */
.linhaDestaqueUnico {
	color: #ff0033;
	text-shadow: 0 0 5px #ff0033;
	font-weight: bold;
	margin-bottom: 20px;
}

.cursor {
	font-size: 24px;
	color: #00ff41;
	text-shadow: 0 0 5px #00ff41;
	margin-right: 5px;
}

.conteudoDestaque {
	color: #ff0033;
	text-shadow: 0 0 5px #ff0033;
}

.conteudoNormal {
	color: #ffffff;
}

.label {
	color: #ff0033;
	text-shadow: 0 0 5px #ff0033;
	margin-right: 5px;
}

.description {
	font-size: 24px;
	color: #ffffff;
	text-shadow: 0 0 5px #00ff41;
	margin-left: 5px;
}

/* Utilitárias */
.textoVermelho {
	color: #ff0033;
	text-shadow: 0 0 5px #ff0033;
}
.textoVerde {
	color: #00ff41;
	text-shadow: 0 0 5px #00ff41;
}
.textoBranco {
	color: #ffffff;
	text-shadow: 0 0 5px #00ff41;
}

/* ------------------------------ */
/* 📱 RESPONSIVIDADE              */
/* ------------------------------ */

@media (max-height: 900px) {
	p,
	.cursor,
	.description,
	.linhaNormal,
	.linhaDestaqueUnico,
	.linhaDestaqueSequencia,
	.linhaCursor,
	.linhaLabel,
	.linhaBullet,
	.linhaLoading {
		font-size: 18px;
	}

	.description {
		margin-left: 3px;
	}

	.label {
		margin-right: 3px;
	}
}